<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinito Bienestar</title>

    <link rel="stylesheet" href="../css/header.css"> 
    <link rel="stylesheet" href="../css/cursos.css"> 
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/EB_Garamond">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
 
</head>
<body>
    <header class="header">
        <div id="navegador">
            
            <p>Infinito Bienestar</p>
    
            <nav class="menu-fixed">
                <ul class="navega">
                    <li><a href="../view/asesorias.html">Asesorías<aside></aside></a></li>
                    <li><a href="../view/view/conoceme.html"> Conóceme</a></li>
                    <li><a href="../index.html"> Inicio</a></li>
                </ul>
                    
            </nav>
        </div>
    
    </header> 
<section class="inicio-cursos">
<div class="cursosinicio-img">
    <img src="../imagenes/cursosintro.png" alt="inicio-cursosimg">
 <div class="titulocursos">
    
 </div>   

</div>
</section>
<section class="catalogocursos">
    <div class="curso">
        <img src="../imagenes/oportunidades.jpeg" alt="oportunidades">
        <h1>Creando mis oportunidades</h1>
        <h2>Aprende a desbloquear tu potencial con las técnicas del Nuevo Pensamiento</h2>
        <a href="https://wa.me/393205564831" target="_blank" class="btn-adquirir">Adquirir</a>
    </div>

    <div class="curso">
        <img src="../imagenes/emociones.jpeg" alt="emociones">
        <h1>Gestionando mis emociones</h1>
        <h2>Domina los fundamentos para cultivar tu inteligencia emocional.</h2>
        <a href="https://wa.me/393205564831" target="_blank" class="btn-adquirir">Adquirir</a>
    </div>

    <div class="curso">
        <img src="../imagenes/meamo.jpeg" alt="meamo">
        <h1>Claro que me amo</h1>
        <h2>Fortalece tu autoestima y autoconcepto en un viaje de autodescubrimiento.</h2>
        <a href="https://wa.me/393205564831" target="_blank" class="btn-adquirir">Adquirir</a>
    </div>

    <div class="curso">
        <img src="../imagenes/Narciso.jpeg" alt="narciso" class="narciso">
        <h1>Narciso amor</h1>
        <h2>Comprende los rasgos del narcisismo y cómo impactan en las relaciones</h2>
        <a href="https://wa.me/393205564831" target="_blank" class="btn-adquirir">Adquirir</a>
    </div>

    <div class="curso">
        <img src="../imagenes/Comunicacion.jpeg" alt="comunicacion" class="comunicacion">
        <h1>Comunicación Persuasiva</h1>
        <h2>Mejora tus habilidades comunicativas con estrategias del Nuevo Pensamiento</h2>
        <a href="https://wa.me/393205564831" target="_blank" class="btn-adquirir">Adquirir</a>
    </div>

    <div class="curso">
        <img src="../imagenes/lenguajedelamor.jpeg" alt="lenguajedelamor" class="lenguajedelamor">
        <h1>El lenguaje del amor</h1>
        <h2>Explora las dinámicas del amor y mejora tus conexiones emocionales.</h2>
        <a href="https://wa.me/393205564831" target="_blank" class="btn-adquirir">Adquirir</a>
    </div>

    <div class="curso">
        <img src="../imagenes/lenguajedelamor.jpeg" alt="lenguajedelamor" class="lenguajedelamor">
        <h1>El lenguaje del amor</h1>
        <h2>Explora las dinámicas del amor y mejora tus conexiones emocionales.</h2>
        <a href="https://wa.me/393205564831" target="_blank" class="btn-adquirir">Adquirir</a>
    </div>

    <div class="curso">
        <img src="../imagenes/heroe.jpeg" alt="heroe" class="heroe">
        <h1>El viaje del héroe</h1>
        <h2>Conoce los Arcanos del Tarot y descubre el mensaje que tienen para ti en este momento de tu vida</h2>
        <a href="https://wa.me/393205564831" target="_blank" class="btn-adquirir">Adquirir</a>
    </div>

</section>


</body>
<footer class="footer">
    <nav class="redes-sociales2">
        <ul class="redes-sociales2">
          
          <li><a href="https://www.instagram.com/infinitobienestar8?igsh=bzJidmY3ZjBhdTl5" class="red-social2"><i class="Instagram"><img src="../imagenes/instagram.png" alt="Instagram"></i></a></li>
          <li><a href="https://www.facebook.com/share/nA5KQQNoVWtMcmpy/" class="red-social2"><i class="Facebook"><img src="../imagenes/facebook.png" alt="Facebook"></i></a></li>
          <li><a href="https://youtube.com/@infinitobienestar8?si=EtAVUrin7fkJhSaw" class="red-social2"><i class="Twitter"><img src="../imagenes/youtube.png" alt="twitter"></i></a></li>
          <li><a href="https://www.tiktok.com/@jennycaballerosav?_t=8oMiZRGz6Ab&_r=1" class="red-social2"><i class="Tiktok"><img src="../imagenes/tiktok.png" alt="twitter"></i></a></li>
      </ul> 
      </nav>

</footer>
</html>