<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinito Bienestar</title>

    <link rel="stylesheet" href="../css/header.css"> 
    <link rel="stylesheet" href="../css/asesorias.css"> 
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/EB_Garamond">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
 
</head>
<body>
    <header class="header">
        <div id="navegador">
            
            <p>Infinito Bienestar</p>
    
            <nav class="menu-fixed">
                <ul class="navega">
                    <li><a href="../view/cursos.html">Cursos</a></li>
                    <li><a href="../view/view/conoceme.html"> Conóceme</a></li>
                    <li><a href="../index.html"> Inicio</a></li>
                </ul>
                    
            </nav>
        </div>
    
    </header> 
<section class="inicio-asesoria">
<div class="asesoriainicio-img">
    <img src="../imagenes/asesoria1.jpeg" alt="inicio-asesoriaimg">
 <div class="tituloasesorias">
    <p>ASESORÍAS</p>
 </div>   

</div>
</section>
<section class="catalogoasesorias">
    <div class="oraculo2">
        <div class="oraculo2-lado1">
    <img src="../imagenes/oraculo.jpeg" alt="oraculo" class="oraculo">
        </div>
        <div class="oraculo2-lado2">
   
        <h1>
            Oráculo del inconsciente colectivo
        </h1>
        <h2>
            ¿Cómo estás experimentando la vida en este momento?<br>
            ¿Te sientes pleno con el camino que recorres? <br>
        </h2>
        <h3>
            Mi objetivo es fomentar el crecimiento de tu inteligencia emocional proporcionándote herramientas prácticas y efectivas para tomar decisiones sabias y mejorar tu calidad de vida. <br>
            El Oráculo del inconsciente colectivo y de mi autoría te guiará hacia tu bienestar en general. 
Participa en este es espacio donde tus inquietudes y vivencias son atendidas con empatía y consideración.
        </h3>
        </div>
    </div>

    <div class="entrenamientoa2">
        <div class="entrenamientoa2-lado1">
    <img src="../imagenes/entrenamiento.jpeg" alt="entrenamientoaa" class="oraculo">
        </div>
        <div class="entrenamientoa2-lado2">
        
        <h1>
            Entrenamiento de vida saludable
        </h1>
        <h2>
            Programa especial para disminuir centímetros, ganar energías y moldear tu cuerpo<br>
        </h2>
        <h3>
            Transforma tu mente para transformar tu cuerpo
            a través de 4 pasos: <br>
           
           1.Terapia de respuesta rápida.<br>
           2.Comprensión de la nutrición. <br>
           3.Entrenamiento mental.<br>
           4.Entrenamiento físico online. <br>
        </h3>
        </div>
    </div>
    
    <div class="reflexion2">
        <div class="reflexion2-lado1">
    <img src="../imagenes/asesoria.jpeg" alt="reflexion" class="reflexion">
        </div>
        <div class="reflexion2-lado2">
   
        <h1>
            Espacio de reflexion
        </h1>
        <h2>
            En nuestro ‘Espacio de Reflexión y Diálogo’, compartimos tus inquietudes y experiencias de vida en una hora. 
        </h2>
        <h3>
            Utilizamos herramientas como el Tarot para identificar factores y situaciones del inconsciente. <br>
            Una vez identificados, trabajamos en ellos a través de diversas técnicas, como las que ofrece el Nuevo pensamiento, las Neurociencias, la Física cuántica y la Sociología de las emociones.<br>
            Te ofrezco asesorías personalizadas, tanto a nivel individual como de pareja, adaptándome a tus necesidades específicas para facilitar tu crecimiento personal y relacional.<br>
        </h3>
        </div>
    </div>
</section>

</body>
<footer class="footer">
    <nav class="redes-sociales2">
        <ul class="redes-sociales2">
          
          <li><a href="https://www.instagram.com/infinitobienestar8?igsh=bzJidmY3ZjBhdTl5" class="red-social2"><i class="Instagram"><img src="../imagenes/instagram.png" alt="Instagram"></i></a></li>
          <li><a href="https://www.facebook.com/share/nA5KQQNoVWtMcmpy/" class="red-social2"><i class="Facebook"><img src="../imagenes/facebook.png" alt="Facebook"></i></a></li>
          <li><a href="https://youtube.com/@infinitobienestar8?si=EtAVUrin7fkJhSaw" class="red-social2"><i class="Twitter"><img src="../imagenes/youtube.png" alt="twitter"></i></a></li>
          <li><a href="https://www.tiktok.com/@jennycaballerosav?_t=8oMiZRGz6Ab&_r=1" class="red-social2"><i class="Tiktok"><img src="../imagenes/tiktok.png" alt="twitter"></i></a></li>
      </ul> 
      </nav>

</footer>
</html>
